@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Rubik:wght@500&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

/* font-family: 'Noto Sans', sans-serif;
   font-family: 'Rubik', sans-serif; */
/* % = placeholder */
/* @extend %flex */
.analisis__principal, .fondo__principal {
  border-style: groove;
  border-color: #e6d5b8;
  border-width: 25px;
  background-color: #99c4c8;
}

/* @mixin // @include 

se coloca variables vacias

*/
/* font-family: 'Noto Sans', sans-serif;
   font-family: 'Rubik', sans-serif; */
/*header*/
.fondo__navegable {
  background: linear-gradient(180deg, rgb(104, 167, 173) 29%, rgb(153, 196, 200) 49%, rgb(229, 203, 159) 77%);
  border: 10px solid #99c4c8;
}
.fondo__navegable .navegador__principal {
  font-family: "Noto Sans", sans-serif;
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  color: green;
}

/*header*/
/* font-family: 'Noto Sans', sans-serif;
   font-family: 'Rubik', sans-serif; */
/*footer*/
.pie__principal {
  font-family: "Noto Sans", sans-serif;
  font-weight: bolder;
  font-family: "Rubik", sans-serif;
  font-size: 30px;
  text-align: center;
  border: 10px solid #99c4c8;
  background: rgb(104, 167, 173);
  background: linear-gradient(0deg, rgb(104, 167, 173) 29%, rgb(153, 196, 200) 49%, rgb(229, 203, 159) 77%);
}
.pie__principal .a__nosotros {
  text-decoration: none;
  color: green;
}
.pie__principal .footer__logo {
  max-width: 100px;
}
.pie__principal .redes__sociales {
  text-align: justify center;
  list-style: none;
  color: green;
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
}

/*footer*/
/*index principal*/
/* font-family: 'Noto Sans', sans-serif;
   font-family: 'Rubik', sans-serif; */
.fondo__principal {
  text-align: center;
  /*ANIMACIONES*/
}
.fondo__principal .sec-1 {
  border: solid black 2px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 11px 10px rgba(0, 0, 0, 0.17);
  box-shadow: 0px 10px 13px -7px #000000, 0px 0px 11px 10px rgba(0, 0, 0, 0.17);
}
.fondo__principal .sec-1 .noticia__1:hover {
  animation: rotate-center 0.6s ease-in-out both;
}
@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.fondo__principal .sec-1 .noticia__2:hover {
  animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
@keyframes shake-horizontal {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70% {
    transform: translateX(-10px);
  }
  20%, 40%, 60% {
    transform: translateX(10px);
  }
  80% {
    transform: translateX(8px);
  }
  90% {
    transform: translateX(-8px);
  }
}
.fondo__principal .sec-1 .noticia__3:hover {
  animation: scale-out-center 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
@keyframes scale-out-center {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 1;
  }
}
.fondo__principal .sec-2 {
  font-family: "Noto Sans", sans-serif;
  font-family: "Rubik", sans-serif;
  font-size: 22px;
}

/*index principal*/
.analisis__principal .analisis__articulo {
  border: solid 5px rgb(24, 191, 41);
  margin: 5px;
  background-color: rgba(37, 236, 37, 0.632);
}
.analisis__principal .analisis__articulo .resumen__articulo {
  border: solid 5px;
  border-color: rgba(11, 11, 175, 0.651);
  margin: 5px;
  font-weight: lighter;
}
.analisis__principal .analisis__articulo .resumen__articulo .analisis-1 {
  font-size: 22px;
  text-align: center;
  color: pink;
  font-weight: 1000;
}
.analisis__principal .analisis__articulo .resumen__articulo .analisis-2 {
  font-size: 10px;
  text-align: start;
  color: rgb(229, 13, 49);
  font-weight: 750;
}
.analisis__principal .analisis__articulo .resumen__articulo .analisis-3 {
  font-size: 35px;
  text-align: end;
  color: rgb(17, 201, 225);
  font-weight: 500;
}
.analisis__principal .analisis__articulo .resumen__articulo .analisis-4 {
  font-size: 40px;
  text-align: right;
  color: rgb(231, 187, 14);
  font-weight: lighter;
}
.analisis__principal .analisis__articulo .resumen__articulo .analisis-5 {
  font-size: 15px;
  text-align: left;
  color: rgb(48, 197, 117);
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
