.fondo__navegable{
    background: linear-gradient(
        180deg,
        rgba(104, 167, 173, 1) 29%,
        rgba(153, 196, 200, 1) 49%,
        rgba(229, 203, 159, 1) 77%
      );
      border: 10px solid #99c4c8;
    .navegador__principal{
        text-decoration: none;
        color: green;
    }

}

