* {
  margin: 1px;
  padding: 1px;

}

.divisor__principal {
  border: solid;
}
.divisor__secundario {
  border: solid;
}

/*INICIO HEADER*/
.navegable__principal {

  border: solid;
  border-width: 10px;
  border-color: #00adb5;
  background-color: #1b1a17;
}
.cuerpo__principal{

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

}

.lista__principal {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 32px;
  text-align: center;
  background-color: #f0a500;
  border: solid;
  
}
.lista__principal li {
  display:inline ;
}

/*FINAL HEADER*/


.fondo__principal {

  justify-items: stretch;
  border-style: groove;
  border-color: #e6d5b8;
  border-width: 25px;
  background-color: #f0a500;

}
.titulo__principal {
  text-align: center;
  font-size: 40px;
  font-style: inherit;
  text-decoration: #1b1a17;
  font-weight: bolder;
}



/* pagina principal*/
.menu__principal{

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  border: solid black 5px;
  row-gap: 5px;
  column-gap: 5px;
  
  
  }

.menu__secciones{

-webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 11px 10px rgba(0,0,0,0.17); 
box-shadow: 0px 10px 13px -7px #000000, 0px 0px 11px 10px rgba(0,0,0,0.17);
}

.sec-1{

align-items: center;
border: solid black 5px;
grid-column-start: span 2;
text-align: center;
}

.sec-2{


  border: solid red 5px;
  justify-items: left;
}

.sec-3{
 
  border: solid rgb(46, 28, 205) 5px;
  justify-items: right;

}

/* pagina principal*/


/*FOOTER INICIO*/
.pie__principal {

  font-weight: bolder;
  font-family: 'Rubik', sans-serif;
  font-size: 30px;
  text-align: center ;
 

  border: solid 5px;
  background-color: #f0a500;
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;  

}



.redes__sociales { 
  align-items: center;
  text-align: justify;
  list-style: none;
  font-family: 'Rubik', sans-serif;
  font-size: 50px;
}

/*FOOTER FINAL*/


.lanzamientos__principal{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

}

.juegos__lanzamientos{

  max-width: 400px;

}

/*mobile*/
@media screen and (max-width:450px) {

.lista__principal{

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4,1fr);
  text-align: start;
  background-color: azure;
}

.pie__principal{
  
  background-color: azure;



  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: 1fr;

}

li{
  display: inline ;
 
}
.redes__sociales{ 
font-size: 20px;
text-align: center
}

.sec-2{
height: 300px;
}

.sec-3{
height: 300px;
}

.menu__principal{
  display: flex;
  background-color: azure;
  flex-direction: column;
}

.lanzamientos__principal{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4,1fr);
  background-color: azure;
}
}
