/* @mixin // @include 

se coloca variables vacias

*/



@mixin text ($size,$align,$color,$weight){
    
    font-size: $size;
    text-align: $align;
    color: $color;
    font-weight: $weight;
    
}
